<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/uikit-3.0.0-rc.25/css/uikit-rtl.min.css" />
    <script src="/uikit-3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="/uikit-3.0.0-rc.25/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="uk-background" style="background: #339393;">

    <nav class="uk-navbar-container uk-background uk-background-muted" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">Table Top Game News</a></li>
                <li><a href="/ign">Video Game News</a></li>
                <li><a href="/swords">Lotsa Swords</a></li>
            </ul>
        </div>
    </nav>

    <div class="uk-container" class="uk-background" style="background: #fff;">
        {{{body}}}
    </div>
</body>

</html>